{% macro display_institutions(institutions) %}
{% for institution in institutions %}
<div class="col-md-4 col-sm-6 col-lg-3 p-2">
    <div class="card bg-fDark">
        <img src="{{url_for('static', filename='images/lots/lot-default.jpg')}}" class="card-img-top">
        <div class="card-body py-1">
            <div class="card-title">
                <h4 class="text-capitalize">{{institution.name}}</h4>
            </div>
            <a href="{{url_for('admin.insights', institution_id=institution.id)}}" class="btn btn-sm bg-prim">View Insights</a>
        </div>
        <div class="card-footer small">
            Capacity: {{institution.quantity}}
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro insight_rows(insights) %}
{% for insight in insights %}
<tr>
    <td>{{insight.id}}</td>
    <td>{{insight.lot.name}}</td>
    <td>{{insight.user.username}}</td>
    <td>{{insight.number_plate}}</td>
    <td>{{dates_(insight.time_in)}}</td>
    <td>{{dates_(insight.time_out)}}</td>
</tr>
{% endfor %}
{% endmacro %}

{% macro dates_(date) %}
{% if date %}
    {{ '{:%d %b %Y %H:%m}'.format(date) }}
{% else %}
N/A
{% endif %}
{% endmacro %}