{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="" method="POST" class="form-inline p-2">
        <div class="btn-group">
            <input type="text" placeholder="Click on an available lot" class="form-control border-info fC-tr">
            <button class="btn btn-sm btn-info">Book</button>
        </div>
    </form>
    <div class="row lot-floor">
        <div class="col-sm-4">
            <div class="row  leftLots">

            </div>
        </div>
        <div class="col-sm-4 card bg-fDark shadeIt">
            <span class="">
                Floor
            </span>
        </div>
        <div class="col-sm-4 rightLots">
          
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        var data = []
        var process_lots = function () {
            left_lots = data.slice(0, data.length / 2)
            left_lots_str=''
            right_lots = data.slice(data.length / 2, data.length)
            right_lots_str=''

            left_lots.forEach(function (left_lot) {
                // append lots
                left_lots_str=left_lots_str+
                    `<div class="col-sm-12">
                        <div class="border-bottom p-3">
                            <h4>${left_lot.name}</h4>
                        </div>
                    </div>`
            })
            $('.leftLots').html(left_lots_str)

            right_lots.forEach(function (right_lot) {
                // append lots
                right_lots_str=right_lots_str+
                    `<div class="col-sm-12">
                        <div class="border-bottom p-3">
                            <h4>${right_lot.name}</h4>
                        </div>
                    </div>`
            })
            $('.rightLots').html(right_lots_str)

        }
        var endpoint = "{{url_for('parking.lots_of', institution_id=institution_id)}}"
        var get = function () {
            $.ajax({
                method: 'get',
                url: endpoint,
                success: function (response) {
                    data = response;
                    process_lots()
                    // console.log(data)
                }, error: () => { console.log('error') }
            })
        };
        setInterval(() => {
            get()
            $('.leftLots').html()

        }, 7000);

        get()

    });

</script>
{% endblock %}