{% extends 'base.html' %}
{% import 'parking/macros.html' as macro %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <h3 class="text-capitalize">Insights | {{current_user.username}}
                <hr class="bg-dark">
            </h3>
            <table class="table bg-fDark table-sm text-white">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>LotName</th>
                        <th>Car No.</th>
                        <th>TimeIn</th>
                        <th>TimeOut</th>
                        <th>Release</th>
                    </tr>
                </thead>
                <tbody class="bg-fDark">
                    {{macro.display_insights(insights)}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}